 <div class="top-navbar">
                <nav class="navbar navbar-dark bg-black py-2 py-lg-0">
                    <div class="container justify-content-between px-0">
                      <a class="nav-links text-white d-lg-flex d-none" href="#">AVAILABLE 24/7 AT +566 4444 9940</a>
                      <a class="nav-links text-white mx-auto " href="#">FREE DELIVERY ON ORDERS OVER $120. DON’T MISS.</a>
                      <div class="dropdown-links d-lg-flex d-none me-1 me-3">
                      <div class="dropdown">
                        <a class="btn bg-transparent dropdown-toggle text-white border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Languages
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item fw-bold pe-0" href="#"><img src="https://vogal-demo.myshopify.com/cdn/shop/files/en.svg?v=6493546161661756346" alt="" class="me-2">ENGLISH</a></li>
                          <li><a class="dropdown-item fw-bold pe-0" href="#"><img src="https://vogal-demo.myshopify.com/cdn/shop/files/fr.svg?v=11487395819543223824" alt="" class="me-2">FRANCE</a></li>
                          <li><a class="dropdown-item fw-bold pe-0" href="#"><img src="https://vogal-demo.myshopify.com/cdn/shop/files/de.svg?v=130614027690144825" alt="" class="me-2">DEUTSCH</a></li>
                        </ul>
                      </div>
                      <div class="dropdown me-5 me-xl-0">
                        <a class="btn bg-transparent dropdown-toggle text-white border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Money
                        </a>
                        <ul class="dropdown-menu w-5">
                          <li><a class="dropdown-item pe-0 fw-bold" href="#">AUD $</a></li>
                          <li><a class="dropdown-item pe-0 fw-bold" href="#">USD $</a></li>
                          <li><a class="dropdown-item pe-0 fw-bold" href="#">EUR $</a></li>
                        </ul>
                        
                      </div>
                    </div>
                    </div>
                  </nav>
              </div>
