<section class="news-section">
<div class="container py-5">
  <div class="heading text-center mb-5">
    <h2 class="fw-bold">News & Articles</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let pro of newsArticles">
      <div class="card border-0 rounded-0 shadow-sm h-100">
        <img src="{{pro.imgUrl}}"
             class="card-img-top rounded-0" alt="Spotlights the new role models">
        <div class="card-body text-center mt-3">
          <h5 class="card-title fw-semibold">{{pro.heading}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
