
.signup-wrapper {
    min-height: 88vh;
    background: linear-gradient(135deg, #f0f2f5, #c2e9fb);
    padding: 2rem;

}

.glass-card {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bi {
    cursor: pointer;
    font-size: 1.2rem;
}

input,
button {
    transition: all 0.3s ease;
}

input:focus {
    border-color: #030303;
    box-shadow: 0 0 0 0.25rem rgba(7, 7, 7, 0.25);
}

button.btn-dark {
    background-color: #212529;
    color: #fff;
    transition: all 0.3s ease;
    border: none;
}

button.btn-dark:hover {
    background-color: #343a40;
    box-shadow: 0 4px 12px rgba(52, 58, 64, 0.3);
    transform: translateY(-1px);
}

button.btn-dark:active {
    transform: translateY(1px);
    box-shadow: none;
}

button.btn-primary {
    background-color: #6c63ff;
    color: white;
    transition: all 0.3s ease;
    border: none;
}

button.btn-primary:hover {
    background-color: #574fd6;
    box-shadow: 0 4px 12px rgba(108, 99, 255, 0.4);
    transform: translateY(-1px);
}


/* Mobile Adjustments */
@media (max-width: 576px) {
    .glass-card {
        padding: 1.5rem !important;
    }

    h2 {
        font-size: 1.5rem;
    }

    .form-label {
        font-size: 0.95rem;
    }

    button {
        font-size: 0.95rem;
    }
}